---
  - name: "Install needed yum packages"
    tasks:
      - name: yum packages needed for codepeer 
        yum:
          name: rh-git218 gcc gcc-devel environment-modules 
          state: latest
        register: yum_packages
        become: true
        when: cyberlab_centos_base_packages_for_codepeer
        
      - debug: msg="{{ yum_packages }}"
        when: cyberlab_centos_base_packages_for_codepeer

